<span id="loading-icons" style="display: none;">
    {{ range .Site.Params.hero.socialLinks.fontAwesomeIcons }}
    <span class="px-1">
        <a href="{{ .url }}" target="_blank" class="btn">
            <i class="{{ .icon }}"></i> <div>{{ .name }}</div>
        </a>
    </span>
    {{ end }}

    {{ range .Site.Params.hero.socialLinks.customIcons }}
    <span class="px-1">
        <a href="{{ .url }}" target="_blank" class="btn social-icon">
            <img src="{{ .icon }}">
        </a>
    </span>
    {{ end }}
</span>
