<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            &copy; {{ now.Format "2006"}} {{ .Site.Params.copyright }} All Rights Reserved
            <div class="text-secondary">
                Made with
                <a href="https://gohugo.io" target="_blank" title="Hugo">
                    <img alt="Hugo" src="/hugo.png" height="20px" width="20px">
                </a>
                and
                <a href="https://github.com/gurusabarish/hugo-profile" target="_blank"
                    title="Designed and developed by gurusabarish">
                    Hugo Profile
                </a>
            </div>
        </div>
    </div>
</div>
